.form-container {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
    color: white;
    position: relative;
    top: 100px;
    z-index: 1;
  }

  .fields-container {
    padding: 20px;
    border: solid 1px black;
    position: relative;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
    width: 30vw;
    border-radius: 10px;
    background: linear-gradient(rgb(39, 39, 100), purple);

    .field-container {
      display: flex;
      flex-direction: column;
      height: 50px;

      label {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .form-control {
        // background-color: #fff;
        border: none;
        border: radius 10px;
        width: 325px;
        border-radius: 10px;
        color: black;
      }
    }
  }

  button {
    margin: 20px;
    width: 200px;
    color: black;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: bold;
    position: relative;
    top: -100px;
    cursor: pointer;
    transition: all 0.8s ease;
    :disabled {
      background: transparent;
    }
  }
}
// input{
//   color: black;
//   &::placeholder{
//     padding: 8px;
//     // color: rgb(203, 12, 203);
//     font-weight: 500;
//     color: black;
//   }
//  }
