<div class="heroes-container">
  <div class="hero" *ngFor="let hero of allHeroes">
    <div
      [ngClass]="{
        spiderman: hero.name === 'spiderman',
        superman: hero.name === 'superman',
        batman: hero.name === 'batman',
        hulk: hero.name === 'hulk'
      }"
    ></div>
    <div class="fields">
      <div>
       Name : {{ hero.name }}
      </div>
      <div>
        ABILITY : {{ hero.abillity }}
      </div>
      <div>
        STARTING POWER : {{ hero.startingPower }}
      </div>
      <div>
        CURRENT POWER :  {{ hero.currentPower.toFixed(2)|number }}
      </div>
      <div>
        {{ hero.lastTrainingDate|date }}
      </div>
    </div>
  </div>
</div>
